<img src="materials/images/introduction-to-pandas-cover.png"/>


# üëã Welcome, before you start
<br>

### üìö Module overview

This module introduces you to the pandas library for working with structured data. Pandas is powerful and expressive, and it's one of the primary reasons that Python has become a leading option for doing data science. Pandas provides data structures and intuitive capabilities for performing fast and easy **data cleaning, preparation, manipulation, aggregation, and sophisticated analysis**.

We will go through seven lessons with you:

- [**Lesson 1: Pandas Data Structures**](Lesson_1_Pandas_Data_Structures.ipynb)

- [**Lesson 2: Dropping Rows and Columns**](Lesson_2_Dropping_Rows_and_Columns.ipynb)

- [**Lesson 3: Selecting and Filtering Rows and Columns**](Lesson_3_Selecting_and_Filtering_Rows_and_Columns.ipynb)

- [**Lesson 4: Importing Data**](Lesson_4_Importing_Data.ipynb)

- [**Lesson 5: Data Exploration**](Lesson_5_Data_Exploration.ipynb)

- [**Lesson 6: Data Transformation**](Lesson_6_Data_Transformation.ipynb)

- <font color=#E98300>**Lesson 7: Data Analysis**</font>    `üìçYou are here.`
    
</br>


### ‚úÖ Exercises
We encourage you to try the exercise questions in this module, and use the [**solutions to the exercises**](Exercise_solutions.ipynb) to help you study.

</br>


<div class="alert alert-block alert-info">
<h3>‚å®Ô∏è Keyboard shortcut</h3>

These common shortcut could save your time going through this notebook:
- Run the current cell: **`Enter + Shift`**.
- Add a cell above the current cell: Press **`A`**.
- Add a cell below the current cell: Press **`B`**.
- Change a code cell to markdown cell: Select the cell, and then press **`M`**.
- Delete a cell: Press **`D`** twice.

Need more help with keyboard shortcut? Press **`H`** to look it up.
</div>

---

# Lesson 7: Data Analysis

We are going to go through these concepts in this module:

- [Conditional selection](#Conditional-selection)
- [Multiple conditions](#Multiple-conditions)

`üïí This module should take about 10 minutes to complete.`

`‚úçÔ∏è This notebook is written using Python.`

In [1]:
import pandas as pd

In [2]:
# We renamed the "target" column to "heart_disease" column in Lesson 6. Here, we will do this again.

df = pd.read_csv("data/heart_disease.csv")
df = df.rename(columns={"target":"heart_disease"})
df["sex"] = df["sex"].map({"Male":0, "Female":1})

# Preview the heart disease dataset.

df.head()

   age  sex  chest_pain  rest_bp  chol  max_hr  st_depr heart_disease
0   63    1           3      145   233     150      2.3           Yes
1   37    1           2      130   250     187      3.5           Yes
2   41    0           1      130   204     172      1.4           Yes
3   56    1           1      120   236     178      0.8           Yes
4   57    0           0      120   354     163      0.6           Yes

## Conditional selection

In [3]:
# Asking each value in the column "sex" whether it is equivalent to 1 ("Female"):

df["sex"]==1

0       True
1       True
2      False
3       True
4      False
       ...
298    False
299     True
300     True
301     True
302    False
Name: sex, Length: 303, dtype: bool

<div class="alert alert-block alert-warning">
<b>Alert:</b> Conditional (boolean) selection is a question and always returns either True or False. This result can be placed within the square brackets of a DataFrame, using .loc, and only the rows that were True will be returned.
</div>

### Use booleans for row selection
(Review the use of [.loc](#Using-loc) if needed.)

*Select the rows where the column "sex" is equivalent to 1 ("Female"). Then display just the column "age"*:

In [4]:
df.loc[df["sex"]==1, "age"]

0      63
1      37
3      56
5      57
7      44
       ..
295    63
297    59
299    45
300    68
301    57
Name: age, Length: 207, dtype: int64

### count()
The `count()` method displays the number of rows that are included in a selection.

*Get the rows where the column chest_pain is equivalent to 3. Return only the column "sex", and display the number of rows returned*:

In [5]:
# Use count() to get the number of rows (returned) in a selection.

df.loc[df["chest_pain"]== 3, "sex"].count()

23

### value_counts()
The `value_counts()` method displays the itemized counts of each category within a column. In other words, it breaks the column down into its individual categories then sums by category. For example, if the column "sex" contained the values [M, F, F, M, F, M, F, F], value_counts() would return that there are 5 of the category F and 3 of the category M:

    F 5
    M 3

*Get the rows where the column chest_pain is equivalent to 3. Return only the column "sex", and itemize the number of rows returned by gender*:

In [6]:
# Use value_counts() to get the count of each unique category within a column.

df.loc[df["chest_pain"]== 3, "sex"].value_counts()

sex
1    19
0     4
Name: count, dtype: int64

## ‚úÖ Exercise 6
Display how many people had heart disease in this dataset.

In [7]:
df.loc[df["heart_disease"]=="Yes", "sex"].count()

165

---

## Multiple conditions

Using `.loc`, you can set multiple conditions for a query. The ampersand (&) means "and" and the pipe symbol (|) means "or".

### And (&) operation
*Get the rows where the column "sex" is equivalent to 1 ("Female") **AND** where the column "max_hr" is greater than the average "max_hr". Return only the column "sex", and display the number of rows returned*:

In [8]:
mean_max_heart_rate = df["max_hr"].mean()

df.loc[(df["sex"]== 1) & (df["max_hr"] > mean_max_heart_rate), "sex"].count()

110

### Or ( | ) operation
*Get the rows where the column "chest_pain" is equivalent to 0 **OR** the column "age" is greater than 60; **AND**, from among those rows, get the rows where the column "sex" is equivalent to 0 ("Male"). Return only the column "heart disease", and display the itemized count of how many did and did not have heart disease*:

In [9]:
df.loc[((df["chest_pain"] == 0) | (df["age"] > 60)) &
        (df["sex"] == 0), "heart_disease"].value_counts()

heart_disease
Yes    34
No     22
Name: count, dtype: int64

<div class="alert alert-block alert-warning">
<b>Alert:</b> Because of precedence and the order of operations, it's important to place parentheses around each condition to clarify the desired order of operations.
</div>

## ‚úÖ Exercise 7
Get the rows where the column "max_hr" is less than 120 OR the column "chol" is greater than 300; AND, from among those rows, get the rows where the column "sex" is equivalent to 1 ("Female"). Then display the itemized count of the patients who had and did not have heart disease.

In [10]:
df.loc[((df["max_hr"] < 120) | (df["chol"] > 300)) &
      (df["sex"] == 1), "heart_disease"].value_counts()

heart_disease
No     34
Yes     9
Name: count, dtype: int64

# üåü You are done!
<br>
Review previous lessons often to consolidate the learnings.


- [**Lesson 1: Pandas Data Structures**](Lesson_1_Pandas_Data_Structures.ipynb)

- [**Lesson 2: Dropping Rows and Columns**](Lesson_2_Dropping_Rows_and_Columns.ipynb)

- [**Lesson 3: Selecting and Filtering Rows and Columns**](Lesson_3_Selecting_and_Filtering_Rows_and_Columns.ipynb)

- [**Lesson 4: Importing Data**](Lesson_4_Importing_Data.ipynb)

- [**Lesson 5: Data Exploration**](Lesson_5_Data_Exploration.ipynb)

- [**Lesson 6: Data Transformation**](Lesson_6_Data_Transformation.ipynb)

---

# Contributions & acknowledgment

Thanks Antony Ross for contributing the content for this notebook.

---

Copyright (c) 2022 Stanford Data Ocean (SDO)

All rights reserved.